<div class = "fullListingContainer">
	<% if @postings.nil? or @postings.empty? %>
		<p class="largeText centerText">
			You have no items listed! 
		</p>
		<p class="mediumText centerText">
			(they will appear here when you start to sell)
			</p>
	<% else %>

		<div class ="listingContainer">
			<% @postings.each do |posting| %>
				<div class="preferenceList">
					<p class="listingTitle largeText">
						<%= posting.title %>
					</p>
					<br><br>

					<p class="listingDescription mediumText">
						<%= posting.description%>
					</p>
					<br>
					<p class="listingPrice">
						Price: $<%= posting.price%>
					</p>		

					<%=form_for(@listing, url: {action: "delete_listing"}) do |f| %>
	     
					<%= f.button "Delete Listing", name:"id", value: posting.id, class: "removeButton"%>
					<% end %>
				</div>
			<% end %> 
		</div>
	<% end %>
</div>